@model IEnumerable<Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <a class="text-dark" href="@Url.Action("Details", "Books", new { id = book.Id })">@book.Title</a>
                    </td>
                    <td>@book.Author</td>
                    <td>@book.PublicationYear</td>
                    <td>@book.ISBN</td>
                </tr>
            }
        </tbody>
    </table>
</div>